.App {
  text-align: center;
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchBar { 
  /* width: 50%; */
  position: relative;
  left:39%;
  top: 20vh;
}

input.searchBar:focus {
  outline-width: 0;
}

.inputProfil{
  border-radius: 30px;
  background-color: white;
  width: 427px;
  height: 39px;
  border: 1px solid #ccc;
  
}


.inputProfil:hover{ box-shadow: 1px 1px 1px 1px; }
  