.mapContainer {
  position: relative; 
  width: 100vw;
  height: 100vh;
  }

  .sidebarStyle {
   display: inline-block;
   position: relative;
   top: 0;
   left: 0;
   margin: 12px;
   background: rgb(251,63,77);
  background: linear-gradient(90deg, rgba(251,63,77,1) 0%, rgba(252,185,70,1) 32%);
  opacity: 80%;
  border-radius: 20px;
   z-index: 1 !important;
   padding: 6px;
   font-weight: bold;
   }

   .custom-pin {
     height: 100px;
     width: 100px;
     display: flex;
     justify-content: center;
  }
 
  .marker {
     background-size: cover;
     border-radius:50% 50% 50% 50%;
     width:100px;
     height:100px;
     border: none;
     cursor: pointer;
     padding: 0;
     }

